<footer >
	<div class="quick-contact">
		<h3>Rychlý kontakt</h3>
		<hr>
		<ul>
			<li><i class="fa fa-fw fa-map-marker"></i>&nbsp;Někde 123, 123 45 Někde</li>
			<li><i class="fa fa-fw fa-phone"></i>&nbsp;+420 123 456 789</li>
			<li><i class="fa fa-fw fa-envelope"></i>&nbsp;<a href="mailto:info@jidlodame.cz">info@jidlodame.cz</a></li>
		</ul>
	</div>
	<a href="index.html" id="logo">
		<h1>Jídlo <span>dáme</span></h1>
	</a>
	<div class="copyright">
		<div class="socials">
			<span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		  </span>
		  <span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		  </span>
		  <span class="fa-stack fa-lg">
			  <i class="fa fa-square fa-stack-2x"></i>
			  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
		  </span>
	  </div>
	  <small>Veškerý obsah webu © 2019</small>
	  <a onclick="alert('Našel jsi easteregg :333 !!');">Jídlo <span>Dáme</span></a>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.js"></script>